<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Course Result Management System</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    
        <style type="text/css">
            ul {
                list-style: none;
                padding: 0px;
                margin: 0px;
                background-clip: padding-box;
                border: 1px solid rgba(0, 0, 0, 0.2);
                border-radius: 6px 6px 6px 6px;
                box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
                margin: 2px 0 0;
                min-width: 160px;
                padding: 5px 0;
                top: 100%;
                z-index: 1000;
            }

                    ul li {
                        display: block;
                        position: relative;
                        float: left;
                        border: 1px solid white;
                    }

                li ul {
                    display: none;
                }

                ul li a {
                    display: block;
                    background: #000;
                    padding: 5.5px 12px 5.5px 12px;
                    text-decoration:navy;
                    white-space: nowrap;
                    color: #fff;
                }

                    ul li a:hover {
                        background: yellow;
                    }

                li:hover ul {
                    display: block;
                    position: absolute;
                }

                li:hover li {
                    float: none;
                }

                li:hover a {
                    background: seagreen;
                }

                li:hover li a:hover {
                    background: whitesmoke;
                }

             .navbar .brand {
                    display: block;
                    float: left;
                    padding: 5px 10px 5px;
                    margin-left: -40px;
                    font-size: 7px;
                    font-weight: 100;
                    color: white;
                    text-shadow: 0 0px 0 #ffffff;
                }



        .navbar-text {
            margin-bottom: 0;
            line-height: 18px;
            color: white;
        }

                #drop-nav li ul li {
                    border-top: 0px;
                }
            </style>
        </head>
        <body>
            <div class="navbar navbar-inverse navbar-fixed-top">
                <div class="container">
                    <div class="navbar-header">
                        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>
                        @Html.ActionLink("Univarsity Portal", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
                    </div>
                    <div class="navbar-collapse collapse">
                        <ul id="drop-nav" class="nav navbar-nav">
                            <li>@Html.ActionLink("Home", "Index", "Home")</li>
                            <li>@Html.ActionLink("About", "About", "Home")</li>
                            <li>
                                <a href="#">Department</a>
                                <ul>
                                    <li>@Html.ActionLink("Department Entry", "Create", "Department")</li>
                                    <li>@Html.ActionLink("View All Departments", "Index", "Department")</li>
                                </ul>
                            </li>
                            <li>
                                <a href="#">Course Panel</a>
                                <ul>
                                    <li>@Html.ActionLink("Save Course", "Create", "Course")</li>
                                    <li>@Html.ActionLink("View Course Statics", "ViewCourseStatus", "AssignCourse")</li>
                                    <li>@Html.ActionLink("Unassign All Courses", "UnassignCourses", "Course")</li>
                                </ul>
                            </li>
                            <li>
                                <a href="#">Teacher Panel</a>
                                <ul>
                                    <li>@Html.ActionLink("Save Teacher", "Create", "Teacher")</li>
                                    <li>@Html.ActionLink("Course Assign to Teacher", "Save", "AssignCourse")</li>
                                </ul>
                            </li>
                            <li>
                                <a href="#">Student Panel</a>
                                <ul>
                                    <li>@Html.ActionLink("Register Student", "Create", "Student")</li>
                                    <li>@Html.ActionLink("Enroll In a Course", "Create", "EnrollCourse")</li>
                                    <li>@Html.ActionLink("Save Student Result", "SaveResult", "EnrollCourse")</li>
                                    <li>@Html.ActionLink("View Result", "ViewResult", "EnrollCourse")</li>
                                </ul>
                            </li>
                            <li>
                                <a href="#">Class Schedule</a>
                                <ul>
                                    <li>@Html.ActionLink("Allocate Classroms", "Create", "RoomAllocation")</li>
                                    <li>@Html.ActionLink("View Class Schedule and Room Allocation Information", "Index", "RoomAllocation")</li>
                                    <li>@Html.ActionLink("Unallocate All Classrooms", "UnallocateRoom", "RoomAllocation")</li>
                                </ul>
                            </li>
                            @*<li>@Html.ActionLink("Contact", "Contact", "Home")</li>*@
                        </ul>
                        @*@Html.Partial("_LoginPartial")*@
                    </div>
                </div>
            </div>
            <div class="container body-content">
                @RenderBody()
                <hr />
                <footer>
                    <p>&copy; @DateTime.Now.Year - University   Management System By Pure-insanity</p>
                </footer>
            </div>

            @Scripts.Render("~/bundles/jquery")
            @Scripts.Render("~/bundles/bootstrap")
            @RenderSection("scripts", required: false)
        </body>
        </html>
