@model IEnumerable<UniversityCourseResultManagementSystem.Models.Teacher>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.d.DeptCode)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Desg.DesignationName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TeacherName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Address)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Email)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ContactNo)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TakenCredit)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.d.DeptCode)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Desg.DesignationName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TeacherName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Address)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Email)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ContactNo)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TakenCredit)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.TeacherId }) |
            @Html.ActionLink("Details", "Details", new { id=item.TeacherId }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.TeacherId })
        </td>
    </tr>
}

</table>
